.header {
    width: 100%;
    background: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.header2 {
    width: 100%;
    background: #ffffff;
}
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 8px;
    margin-bottom: 0px;
    margin-top: 8px;
}

.nav{
    text-align: right;
}

a{
    text-decoration: none;
    font-family: 'Helvetica Neue';
    color: #777777;
    padding: 0px 8px 0px 8px;
    list-style: none;
    float: right;
    margin-left: 15px;
    padding-top: 20px;
 }

a:hover {
    color: #4aaaa5;
  }

.bodycopyport {
    padding: 20px;
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1.5px;
    margin-bottom: 30px;
    margin: auto;
    margin-top: 60px;
}

h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding:5px;
    font-size: 24px;
    font-weight: bold;
    border-bottom-width: 3px;
    border-bottom-style: solid; 
    border-color: #dddddd
}

.image1 {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 15px;
    float: left;
}

p {
    font-family: 'Helvetica Neue';
    color: #777777;
    padding: 15px;
    line-height: 18px;
 }