.image1 {
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 15 15 15 0;
    float: left;
}

p {
    font-family: 'Helvetica Neue';
    color: #777777;
    padding: 15 15 15 0;
    line-height: 18px;
 }